* text=auto

# Enforce Unix newlines
*.example   text eol=lf
*.json      text eol=lf
*.md        text eol=lf
*.neon      text eol=lf
*.php       text eol=lf
*.txt       text eol=lf
*.yml       text eol=lf
.php_cs     text eol=lf
