# COMPOSER
/vendor/
/composer.lock

# MISC FILES
.cache
.DS_Store
.idea
.php_cs.cache
.project
.settings
config.codekit3
prepros-6.config
*.esproj
*.sublime-project
*.sublime-workspace
*.tmproj
*.tmproject
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
