includes:
    - vendor/craftcms/phpstan/phpstan.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: build/phpstan
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#Constant CRAFT_BASE_PATH not found#'
        - '#Call to an undefined method ostark\\Yii2ArtisanBridge\\ConsoleOutput::setInteractive\(\).#'
