parameters:
    level: 5
    paths:
        - src
    scanFiles:
        - vendor/yiisoft/yii2/Yii.php
        - vendor/craftcms/cms/src/Craft.php
    stubFiles:
    	- vendor/craftcms/cms/stubs/BaseYii.stub
    tmpDir: build/phpstan
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Constant CRAFT_BASE_PATH not found#'
        - '#Access to an undefined property craft\\base\\Volume::\$path.#'
        - '#Access to an undefined property craft\\base\\LocalVolumeInterface&craft\\base\\Volume::\$path.#'
