parameters:
    checkMissingIterableValueType: false
    scanFiles:
        - %currentWorkingDirectory%/vendor/yiisoft/yii2/Yii.php
        - %currentWorkingDirectory%/vendor/craftcms/cms/src/Craft.php
    ignoreErrors:
        - '#Constant CRAFT_BASE_PATH not found#'
        - '#Access to an undefined property craft\\base\\Volume::\$path.#'
        - '#Access to an undefined property craft\\base\\LocalVolumeInterface&craft\\base\\Volume::\$path.#'

